{% extends 'base.html.twig' %}

{% block title %}Mon Agence{% endblock %}

{% block body %}

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Tous nos biens</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      <p>
        <a href="#" class="btn btn-primary my-2">Ajouter un bien</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="count">
                        Number of Properties : {{ properties.getTotalItemCount }}
                    </div>
                </div>
            </div>

            <div class="row">
                {% for property in properties %}
                    {% include 'property/property.html.twig' %}
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="pagination">
                    {{ knp_pagination_render(properties) }}
                    </div>
                </div>
            </div>

        </div>
    </div>

</main>

{% endblock %}
